header {
  background-color: rgb(54, 155, 76);
}

#heading {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 0 10px 0;
}

#heading img {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

#heading h1 {
  font-family: serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin: 20px;
  cursor: pointer;
}

nav ul {
  color: rgb(212, 200, 32);
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

nav ul li {
  list-style: none;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 20px;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 2px;
  border-bottom: 2px solid rgb(226, 214, 214);
}

footer {
  background-color: rgb(54, 155, 76);
  padding: 20px 0 10px 0;
}

#footer-details {
  display: flex;
}

#coreValues-commitmentObligations-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px auto;
  height: 800px;
  padding: 40px 40px 0 40px;
  background-color: rgb(74, 182, 98);
  box-shadow: 2px 2px 3px 2px rgb(225, 230, 226);
  border-radius: 6px;
}

#core-values ul {
  margin: 0  0 20px 0;
}

#core-values ul h2 {
  text-transform: capitalize;
  font-family: serif;
  margin: 0 0 10px 0;
}
#core-values ul li {
  list-style: circle;
  text-transform: capitalize;
  font-family: sans-serif;
}

#commitment-obligations ul {
  margin: 0  0 20px 0;
}

#commitment-obligations ul h2 {
  text-transform: capitalize;
  font-family: serif;
  margin: 0 0 10px 0;
}

#commitment-obligations ul li {
  list-style: circle;
  text-transform: capitalize;
  font-family: sans-serif;
}

#form {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  height: 350px;
}

#form p {
  padding: 0;
  margin: 10px;
  font-weight: 600;
}

#form input {
  height: 30px;
}

.report-inputs {
  display: block;
  margin: 0 0 20px 0;
  width: 300px;
  border: 2px solid  rgb(220, 220, 220);
  border-radius: 6px;
  background-color:  rgb(220, 220, 276);
  cursor: pointer;
}

#file {
  border: none;
  margin: 0 0 20px 0;
  height: 25px;
  cursor: pointer;
}

#form textarea {
  resize: none;
}

#submit-complain-form-button {
  display: flex;
  background-color: rgb(225, 230, 226);
  color: rgb(22, 21, 6);
  border-radius: 6px;
  border: none;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin: auto;
  padding: 6px;
  width: 70px;
}

#submit-complain-form-button:hover {
  background-color: rgb(220, 220, 276);
}

#chatbotMedia-Links {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: auto;
}

#question-chatbot{
  margin: 0 auto 0 auto;
  padding: 10px 0;
  border-top: 2px solid rgb(220, 220, 220);
}

/* #media {} */

#media h3 {
  text-transform: capitalize;
  margin: 0;
}

#media ul li {
  list-style: none;
  padding: 10px;
}

#media ul li a {
  text-decoration: none;    
}

footer p {
  margin: 0 ;
  padding: 120px 0 0 0 ;
  text-align: center;
  text-transform: capitalize;
}

footer p a {
  text-decoration: none;
  color: rgb(225, 230, 226);
}