body {
  background-color: rgb(226, 214, 214);
  margin: 0;
  padding: 0;
}

main {
  background-color: rgb(209, 197, 197);
  margin: 0;
  padding: 0;
}

.department_details {
  background-color: rgb(160, 142, 142);
  height: 600px;
}

.department_details ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.department_details ul li {
  margin: 0 auto;
}

#mission {
  background-color: rgb(226, 214, 214);
  width: 280px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-family: serif;
  padding: 5px 0;
  margin: 20px auto 10px auto;
  border-radius: 5px;
}

#vision {
  background-color: rgb(226, 214, 214);
  width: 140px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-family: serif;
  padding: 5px 0;
  margin: 20px auto 10px auto;
  border-radius: 5px;
}

#goals {
  background-color: rgb(226, 214, 214);
  width: 150px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-family: serif;
  padding: 5px 0;
  margin: 20px auto 10px auto;
  border-radius: 5px;
}

.department_details ul li p {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
}

.department_details ol li {
  padding: 5px;
  font-family: serif;
}

#staff {
  background-color: rgb(189, 180, 180);
  margin: 20px 0;
  /* height: 600px; */
}

#staff_title {
  text-transform: uppercase;
  text-align: center;
  text-shadow: rgb(101, 101, 101);
  font-family: serif;
  padding-top: 10px;
  margin: 0;
}

#staff_title:hover {
  /* color: rgb(226, 214, 214); */
  cursor: pointer;
}

#staff ul {
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  width: 80%;
  margin: auto;
  cursor: pointer;
}

#staff ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(223, 209, 209);
  margin: 20px auto 20px auto;
  border-radius: 5px;
  height: 350px;
  box-shadow:  2px 2px 5px rgb(101, 101, 101);
}

#staff ul li h2 {
  /* margin: 0; */
  text-transform: capitalize;
  font-family: serif;
}

#staff ul li a {
  color:rgb(15, 77, 28);
  text-shadow: rgb(101, 101, 101);
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  padding: 10px;
}

#staff ul li img {
  height: 250px;
  width: 250px;
}

.bio-details {
  display: none;
}

#staff ul li p {
  margin: 0;
  font-family: sans-serif;
}
