body {
  background-color: rgb(226, 214, 214);
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(15, 77, 28);
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px;
}

header ul image {
  height: 50px;
  width: 50px;
}

header ul h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0;
}

header ul li {
  color: rgb(212, 200, 32);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  text-shadow: rgb(101, 101, 101);
  padding: 0 10px 0 0;
}
header ul li:hover {
  color: rgb(226, 214, 214);
}

main {
  background-color: rgb(209, 197, 197);
  margin: 0;
  padding: 0;
}

.department_details {
  background-color: rgb(143, 120, 120);
}

.department_details ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.department_details ul li {
  margin: 0 auto;
}

#mission {
  background-color: rgb(226, 214, 214);
  width: 260px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
  margin: 20px auto 10px auto;
  border-radius: 5px;
}

#vision {
  background-color: rgb(226, 214, 214);
  width: 120px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
  margin: 20px auto 10px auto;
  border-radius: 5px;
}

#goals {
  background-color: rgb(226, 214, 214);
  width: 120px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
  margin: 20px auto 10px auto;
  border-radius: 5px;
}

.department_details ul li p {
  margin: auto;
  padding: 0;
}

.staff {
  background-color: rgb(194, 172, 150);
  margin: 20px 0;
  height: 600px;
}

#staff_title {
  text-transform: uppercase;
  text-align: center;
  text-shadow: rgb(101, 101, 101);
  padding-top: 10px;
  margin: 0;
}

#staff_title:hover {
  color: rgb(226, 214, 214);
}

.staff ul {
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  width: 80%;
  margin: auto;
}

.staff ul li {
  background-color: rgb(223, 209, 209);
  margin: 20px auto 20px auto;
  border-radius: 5px;
}

.staff ul li h2 {
  margin: 0;
}

.staff ul li p {
  margin: 0;
}

footer {
  background-color: rgb(100, 100, 100);
  /* height: 300px; */
}

form {
  width: 300px;
  /* height: 400px; */
  margin: auto;
}

#complain {
  display: flex;
  flex-direction: column;
  /* height: 200px; */
}

.complain_input {
  margin: 0 0 10px 0;
}

#submit-complain-form-butoon {
  background-color: rgb(194, 172, 150);
  color: rgb(22, 21, 6);
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgb(101, 101, 101);
  display: flex;
  padding: 5px;
  width: 60px;
  margin: 0 auto;
}
