body {
  background-color: rgb(226, 214, 214);
  margin: 0;
  padding: 0;
}

#students {
  background-color: rgb(160, 142, 142);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto 20px auto;
  width: 600px;
  height: 600px;
  font-family: sans-serif;
  border-radius: 5px;
  box-shadow:  2px 2px 5px rgb(101, 101, 101);
}

#students input {
  width: 300px;
  margin: 0 auto 20px auto;
}

#submit-form-button {
  background-color: rgb(194, 172, 150);
  color: rgb(22, 21, 6);
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgb(160, 142, 142);
  display: flex;
  padding: 5px; 
  width: 60px;
}

#attendance-form {
  background-color: rgb(194, 172, 150);
  color: rgb(22, 21, 6);
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: rgb(101, 101, 101);
  padding: 10px;
  display: flex;
  text-align: center;
  /* align-items: center; */
  /* margin: auto; */
  /* display: flex; */
  /* float: right; */
}
