body {
  background-color: rgb(226, 214, 214);
  margin: 0;
  padding: 0;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#form-1 {
  background-color: rgb(160, 142, 142);
  margin: 0 auto 20px auto;
  width: 600px;
  height: 650px;
  font-family: sans-serif;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(101, 101, 101);
  display: flex;
  flex-direction: column;
}

#apply-attachment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#apply-attachment-form input {
  width: 300px;
  margin: 0 auto 20px auto;
}

#attachment-buttons{
  text-align: center;
  padding: 0;
}

#submit-attachment-button {
  background-color: rgb(194, 172, 150);
  color: rgb(22, 21, 6);
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: rgb(101, 101, 101);
  padding: 10px;
  text-decoration: none;
  margin: 0 20px;
  cursor: pointer;
}

#attendance {
  display: flex;
  flex-direction: column;
}

#attendance-button {
  background-color: rgb(194, 172, 150);
  color: rgb(22, 21, 6);
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: rgb(101, 101, 101);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 20px auto;
  cursor: pointer;
}

#form-2 {
  background-color: rgb(160, 142, 142);
  margin: 0 auto 20px auto;
  width: 600px;
  height: 400px;
  font-family: sans-serif;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(101, 101, 101);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20%;
  left: 31%;
  display: none;
}

#sign-attendance-form {
  display: flex; 
  flex-direction: column;
  text-align: center;
  padding: 20px 0 0 0;
  margin: 0 auto 20px auto;
}

#sign-attendance-form input {
  margin: 0 auto 20px auto;
  width: 200px;
}

#attendance-buttons{
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.submit-attendance-button {
  background-color: rgb(194, 172, 150);
  color: rgb(22, 21, 6);
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: rgb(101, 101, 101);
  padding: 10px;
  text-decoration: none;
  margin: 0 20px;
  cursor: pointer;
}
